*::selection {
    background: #16A085 !important;
    color: #ffffff !important;
}

/* Firefox Pages */

/* For all build-in Firefox pages */
:root {
	--in-content-category-text-selected: #16a085 !important;
	--in-content-category-text-selected-active: #16a085 !important;
	--in-content-category-outline-focus: 1px dotted #16a085 !important;
	--in-content-link-color: #16a085 !important;
	--in-content-link-color-hover: #16a085 !important;
	--in-content-border-active: #16a085 !important;
	--in-content-border-active-shadow: none !important;
	--in-content-border-focus: #16a085 !important;
	--in-content-link-color-active: #16a085 !important;
	--in-content-item-selected: #16a085 !important;
	--in-content-item-hover: rgba(22, 160, 133, 0.2) !important;
	--in-content-primary-button-background: #248a76 !important;
	--in-content-primary-button-background-hover: #1e7664 !important;
	--in-content-primary-button-background-active: #248a76 !important;
	--in-content-border-highlight: #16a085 !important;
}
/* about:preferences */
/* about:preferences#privacy */
.content-blocking-category.selected {
	border: 1px solid #16a085 !important;
	background-color: rgba(22, 160, 133, 0.2) !important;
}
.content-blocking-warning {
	background-color: rgba(46, 179, 152, 0.4) !important;
}
.content-blocking-warning .text-link {
	color: #09251f !important;
}
.reload-tabs-button {
	background-color: #0e3930 !important;
}
.reload-tabs-button:not([disabled="true"]):hover {
	background-color: rgba(14, 57, 48, 0.8) !important;
}
.spotlight {
	background-color: transparent !important;
	outline: none !important;
}
/* about:preferences#search */
#engineList > treechildren::-moz-tree-image(engineShown, checked),
#blocklistsTree > treechildren::-moz-tree-image(selectionCol, checked) {
	fill: #16a085 !important;
}
#searchbarGroup .searchBarShownImage {
	list-style-image: url("about-search-green-light.svg") !important;
	/* If the image is in the icons directory */
	/* list-style-image: url("firefox-gnome-theme/theme/icons/about-search-green-light.svg") !important; */
}
@media (prefers-color-scheme: dark) {
	#searchbarGroup .searchBarShownImage {
		list-style-image: url("about-search-green-dark.svg") !important;
		/* If the image is in the icons directory */
		/* list-style-image: url("firefox-gnome-theme/theme/icons/about-search-green-dark.svg") !important; */
	}
}
/* about:protections */
@-moz-document url(about:protections) {
	#sign-up-for-monitor-link {
		background-color: var(--in-content-primary-button-background) !important;
	}
	#sign-up-for-monitor-link:hover {
		background-color: var(--in-content-primary-button-background-hover) !important;
	}
	#sign-up-for-monitor-link:focus {
		box-shadow: 0 0 0 2px #16a085 !important;
	}
	#social-link, #cookie-link, #fingerprinter-link, #cryptominer-link, #lockwise-inline-link {
		color: #16a085 !important;
	}
}
/* about:support */
@-moz-document url(about:support), url(about:support#remote-processes) {
	#contents table th {
		background-color: #107360 !important;
	}
}
/* about:profiles */
@-moz-document url(about:profiles) {
	#profiles table th {
		background-color: #107360 !important;
	}
}
/* about:buildconfig */
@-moz-document url(about:buildconfig) {
	a {
		color: #16a085 !important;
	}
}
/* about:performance */
@-moz-document url(about:performance) {
	.energy-impact {
		--bar-width: 0;
		background: linear-gradient(to right, #26947d calc(var(--bar-width) * 1%), transparent calc(var(--bar-width) * 1%)) !important;;
	}
}
/* about:plugins */
@-moz-document url(about:plugins) {
	a {
		color: #248a76 !important;
	}
	.contenttable th {
		background-color: #16a085 !important;
	}
}
/* about:serviceworkers */
@-moz-document url(about:serviceworkers) {
	a {
		color: #248a76 !important;
	}
}
/* about:newtab, about:home */
@-moz-document url(about:newtab), url(about:home) {
	body, #newtab-customize-overlay {
		--newtab-text-secondary-color: #16a085 !important;
		--newtab-textbox-border: #16a085 !important;
		--newtab-textbox-focus-boxshadow: 0 0 0 1px #16a085, 0 0 0 4px rgba(22, 160, 133, 0.4) !important;
		--newtab-button-primary-color: #16a085 !important;
		--newtab-link-primary-color: #16a085 !important;
		--newtab-textbox-focus-color: #16a085 !important;
	}
	.top-site-outer .search-topsite {
		background-color: #16a085 !important;
	}
}
